p.header {
text-align: center;
font-size: 24px;
margin-bottom: 0px;
}
p.headerItalic{
    text-align: left;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
}
p.mix{
border-style: solid none solid none;
margin-top: 0px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
}

p.bottom{
border-style: none none solid none;
margin-top: 15px;
text-align: left;
margin-left: 50px;
margin-right: 50px;
}

a:link {
    color: dodgerblue;

}

a:visited {
    color: slateblue;
}

a:hover{
    color: indigo;
}

a:active {
    color: aquamarine;
}

ul.item{
text-align: left;
margin-left: 70px;
margin-right: 50px;
margin-top: 0px;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

span.b {
display: inline block;
width: 500px;
height: adaptive;
border: none;
margin-left: 50px;

}

ul.text{
text-align: left;
margin-left: 22px;
margin-right: 50px;

}

dl.mod{
text-align: left;
margin-left: 50px;
margin-right: 50px;
margin-top: 0px;
}