p.header {
text-align: center;
font-size: 24px;
margin-bottom: 0px;
}
p.headerItalic{
    text-align: left;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
}
p.mix{
border-style: solid none solid none;
margin-top: 0px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
}

p.bottom{
border-style: none none solid none;
margin-top: 15px;
text-align: left;
margin-left: 50px;
margin-right: 50px;
}

a:link {
    color: cyan;

}

a:visited {
    color: darkcyan;
}

a:hover{
    color: aqua;
}

a:active {
    color: aquamarine;
}

ul{
text-align: left;
margin-left: 70px;
margin-right: 50px;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

p.b {
display: inline block;
width: adaptive;
height: adaptive;
border: none;
padding: 5px;
margin-left: 45px;
}